body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 980px;
    height: 980px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box {
    /* border: 1px solid black; */
    width: 60px;
    height: 60px;
    background-color: white;
}

.hover {
    background-color: black;
}